p {
	font-size: 20px;
	width: 100px;
	border: 2px solid black;
	margin : auto;
	padding : 10px;
	font-family: Pacifico;
	margin-bottom: 10px
}

img {
	width: 30%;
	border : 2px solid black;
	float : left;
	margin: 1.166%;
}